/*responsive CRAP*/
*, *:before, *:after {
  -moz-box-sizing:border-box !important;
  -webkit-box-sizing:border-box !important;
  box-sizing:border-box !important;
  margin:0;
  padding:0;
  font-family:"Segoe UI", Arial, sans-serif;
}
html,body {
  /*scroll enabled*/
  line-height: 1.5;
  font-size: 14px; 
  margin:0;
  padding:0;
  overflow-x: hidden;
  position: relative;
  height: 100%;
}
#navbar {
  /*scroll enabled*/
  line-height: 2;
  font-size: 15px; 
  position: fixed;
  width: 300px;
  height: 100%;
  border-right: 1px solid black;
  /*JOMA*/
  font-weight:400;
  transition:all 0,3 ease 0s;
  background-color:#202121 !important;
  overflow-y: auto;
  z-index: 2;

}
#navbar ul {
  display: block;
  position: relative;
  height: 88%;
}
#navbar .last-li{
  /*ეს ბოლოში რო გამოჩნდეს უეჭველი*/
  padding-bottom:60px !important;
}
/*teqstis silamaze da centrshi ro iyos*/
#navbar #navbar-header{
font-family:"Segoe UI", Arial, sans-serif;
color:white;
text-align: center;
background-color: #202121;
}
/*=================navbar style====================*/
.navbar-link-container{
width: 100%;
padding:0 15% 0 15%;

}
.navbar-link-container p{
color:#666666;
font-size:1.125em;
}

#navbar li{
  list-style: none;
  font-size: 1.25em;
}
#navbar li a {
  color:white;
  cursor: pointer;
  text-decoration: none;
  display: block;
  width: 100%;
}
/*serad ro chandes kurors ro adeb*/
#navbar li a:hover{
   color:#b18181;
   transition:all 0,3 ease 0s;
}
.main{
  font-size: 1.075rem;
  margin-left: 310px;
  line-height:1.5;
}
.collapsible{
  visibility: hidden;
  position: absolute;
  left:0;
}/*
@media (max-width:400px){
  *{
      font-size:8px !important;
  }
}*/
@media (max-width:815px){
    /*==================collapsible===================*/
.collapsible {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 50px;
  background-color: inherit;
  width: 100%;
  visibility: visible;
  z-index: 1;
  position: relative;
}
.content {
  display: none;
}

  .main{
      position: relative;
      margin-left:0;
      margin-top:20px;
  }/* კაროჩე ეს ტელეფონზე რესფონსივ რო იყო მანამდე
  #navbar{
      position: relative;
      margin-bottom: 300px;
      width:100%;
      height: 300px;
      text-align: center;
      margin: 0 !important;
  }*ეს მერე ქოლაფს ბათნმა რო იმუშავოს*/
  #navbar{
      z-index: 3;
      height: 100%;
      width: 200px;
  }
  .section img{
      height: 400px;
      width: auto;
  }
  .section iframe{
      width:auto;
      height: auto;
  }
  /*=========FOOTER======*/
  footer{
    flex-direction: column;
    margin-left: 0 !important;
  }
  footer div{
    padding-top:10px;
  }
  footer div p{
    text-align: center !important;
  }
}/*მოკლედ ეს როდესაც ბათნს ვაჭერდით და იკუმშებოდა ნავიგაცია მერე რო ვადიდებდი აღარ შვებოდა რა არაფერს ჰოდა ამის დამატება მომიწია*/
@media (min-width:815px){
  .content{
      visibility: visible;
      display: block !important;
  }
}
/*ეს ზოგადად ძაან შეტყუპებული როარ იყოს*/
.section{
  padding:10px;
}
/*სურათები*/
.section img , .section iframe{
  max-width: 100%;
  display: block;
  margin:auto;
}
.section img{
  height: auto;
}
/*=====================SWITCH=====================*/
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/*====================The slider=============*/
#blackModeInput{
  display: none;
}

/*=================HEADER==================*/
.page-header {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  background: #373737;
  position: fixed;
  top: 0;
  height: 40px;
  color:#F2F3F4;
  width: 100%;
  line-height: 40px;
  z-index: 4;
  padding:0 4px 0 4px;
  
  display: flex;
  justify-content: space-between;
}
.page-header__item{
  font-size:1.5rem;
  margin-right:5px; 
}
.page-header__item:hover{
  color: #202121;
  background-color:#F2F3F4;
}
.page-header ul li{
  list-style: none;
  text-decoration: none;
}
.page-header .page-header__bottom ul{
  display: flex;
}
.page-header .page-header__top{
  display: flex;
}
.page-header .page-header__top div{
  display: flex;
  margin-left:5px;
}
.page-header__bottom{
  justify-content: flex-end;
}
.main ,#navbar{
  margin-top:40px;
}
.page-header_right{
  display: flex;
}
/*===================კოდის სტილიზაცია===================*/
.plain-code{
  background-color: #F2F3F4;
  color:rgb(221, 69, 69);
}
.code-block-container .code-container{
  display: flex;
  font-size: 1.125rem;
  overflow-x: auto;
  background-color: white;
  border-radius: 5px;
}
.code-container .line-numbers { 
  counter-reset: item;
  list-style-type: none;
  width: auto;
  text-align: center;
  background-color: #CECFD5;
  padding:0 30px 0 30px;
  color:#666666 !important;
}
.code-container .line-numbers li { display: block; }
.code-container .line-numbers li:before { 
  content: counter(item) ""; 
  counter-increment: item 
}
.code-block-container{
  padding:10px 20px 20px 20px;
  background-color:#F2F3F4 ;
  border-radius: 7px;
}/*
ეს როდესაც გვერდით პატარა ლურჯი ხაზი ქონდა გვერდით
pre{
border-left:5px solid #2353FF;
border-right: 5px solid white;
background-color: #F2F3F4;
border-radius: 3px;
}*/
.code-container pre{
  width: auto;
}
.code-container pre div{
  display:inline-block;
  overflow: visible;
}
/*ეს როცა ვადიდებდი მაშინ რო არ გავიდეს გარეთ*/
.code-container-child{

display: block;
width:auto;
}
/*==================CODE COLORS===================*/
.code_color_1{
color:#0087CC;
}
.code_color_2{
color:#FF7B29;
}
/*=====================DARK MODE=====================*/
.dark-mode pre , .dark-mode .code-container {
  background-color: #282c34;
  color: white;
  border-color:#282c34;
}
.dark-mode .code_color_1  {
 color:#ffc0c4;
}
.dark-mode .code_color_2{
  color:#79ae80;
}
.dark-mode .code_color_3{
  color:#c4a3c2;
}
/*============PAGINATION=================*/
.pagination {
  display: inline-block;
  width: 100%;
  padding:0 10px 0 10px;
}
.pagination .pagination-child {
  color: black;
  text-align: center;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  width: 100px;
  padding:8px 0 8px 0;
  background-color: #202121;
  border:none;
  border-radius: 3px;
  color:white;
}
.pagination a:hover:not(.active) {
  background-color: rgb(94, 95, 121);
}
.pagination #pagination-child-left{
  float: left;
  padding-right: 8px;
}
.pagination #pagination-child-right{
  float: right;
  padding-left: 8px;
}
footer{
  background-color: #202121;
  text-align: center;
  color:white;
  margin-left: 300px;
  padding:50px;
  display: flex;
  justify-content: space-between;
  height: auto;
  width: auto;
}
footer div p{
  font-size: 1.125rem;
  text-align: left;
  padding:0 10px 0 10px;
}
footer .fade-text{
  opacity: 0.5;
}
footer .footer-socials{
  display: inline;
}